Inspector/DataSources/Export1C.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ЗагрузкаАктов">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="КонтрольныеДанные">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="КоличествоДокументов" type="xs:integer" />
              <xs:element name="СуммаВсего" type="xs:double" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Документ">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element name="Подразделение" type="xs:string" />
              <xs:element name="НомерСчФ" type="xs:string" />
              <xs:element name="ДатаСчФ" type="xs:string" />
              <xs:element name="Контрагент">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Наименование" type="xs:string" />
                    <xs:element name="ИНН" type="xs:string" />
                    <xs:element name="КПП" type="xs:string" />
                    <xs:element name="Договор">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="НомерДоговора" type="xs:string" />
                          <xs:element name="ДатаДоговора" type="xs:string" />
                          <xs:element name="НаименованиеДоговора" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="АдресЮридический" type="xs:string" />
                    <xs:element name="АдресФактический" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="Строка">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Номенклатура" type="xs:string" />
                    <xs:element name="Цена" type="xs:double" />
                    <xs:element name="Количество" type="xs:double" />
                    <xs:element name="ЕдиницаИзмерения" type="xs:string" />
                    <xs:element name="ЕдиницаИзмеренияСокращенно" type="xs:string" />
                    <xs:element name="НаправлениеДеятельности" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДатаОплаты" type="xs:string" />
              <xs:element name="НомерПлатРасчДок" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="Нпп" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>